<main>
  <div id="posts-nav">

    <!-- =============================== -->

    <div id="main-nav"class="mx-auto p-2 main_hor_size text-light" style="overflow-y: scroll;" >
{{> log_in_out}}
      <div id="accordion">
 <a href="/fazerPostagem"  class="btn btn-lg btn-warning" >Fazer Postagem</a>

      <!-- ==========================POST========================== -->
 {{#each post as |post|}}
        <div class="card">
          <div id="{{post.id}}" class="hover card-header bg-dark" data-toggle="collapse" data-target="#post_collapse_{{post.id}}" aria-expanded="false" aria-controls="post_collapse_{{post.id}}">
            <div id="post_infos" class="ml-3">
              <img src="../static/img/images.png" height="50px" width="50px" class="position-relative float-left"><br>
              <h5 class="ml-3 d-inline">{{post.title}}</h5>
            </div>
          </div>
          <a href="/postPage/{{post.id}}" class="post_contentArea" form="form_id_post">

              <div id="post_collapse_{{post.id}}" class="collapse hidden bg-img-post " style="background-image: url('../static/img/{{post.img}}');" aria-labelledby="headingOne" data-parent="#accordion">
                <div id="{{post.id}}" class="card-body hover_content">
                    <small>Postado por {{post.author}} em {{post.location}}</small>
                    <p> {{post.content}} </p>
                </div>
            </div>

            </a>
        </div>

        {{/each}}
      <!-- ======================================================== -->



    </div>
  </div>

</main>
